/LaundryTagging/build/
/LaundryTagging/dist/
/LaundryReception/build/
/LaundryReception/dist/
/LaundryCommon/build/
/LaundryCommon/dist/
/LaundryTagging/nbproject/private/
/LaundryReception/nbproject/private/
/LaundryCommon/nbproject/private/
/LaundryServer/nbproject/private/
/LaundryServer/build/
/LaundryServer/dist/